body {
    background-image: url(images/Wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.everything {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    border-radius: 25px;
}

.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding: 20px;
}

.location-controls {
    text-align: center;
    padding-top: 0px;
    padding: 10px;
}

.language {
    position: absolute;
    padding: 5px;
    left: 0;
}

.region {
    position: absolute;
    padding: 5px;
    right: 0;
}

#update-location {
    width: 100px;
    height: 30px;
    background: lightgreen;
}

.warning {
    background: rgba(255, 255, 255, 0.8);
    color: red;
}

.meals {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    width: 95%;
}

.ingredients {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    width: 95%;
}

th {
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: lightgrey;
}

.meals td:nth-child(2),
.meals td:nth-child(3) {
    text-align: center;
}

.ingredient-list td:nth-child(1),
.ingredient-list td:nth-child(3),
.ingredient-list td:nth-child(4),
.materialGroup-list td:nth-child(2),
.materialGroup-list td:nth-child(3) {
    text-align: center;
}

tr.selected {
    background: green;
}

.tableHeader {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
}

.link {
    color: blue;
}

.link:hover {
    text-decoration: underline;
}

.ingredient-list,
.materialGroup-list {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    color: black;
    width: 48%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ingredients .table {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 95%;
    padding: 10px;
}

.totalDivs {
    background: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.total {
    margin-left: auto;
    margin-right: auto;
}